In [5]:
import pandas as pd
from pycountry_convert import country_name_to_country_alpha2

In [6]:
df = pd.read_csv("flights_with_capacity.csv")
df.head()

,airline_name,source_airport_name,source_airport_iata_code,source_airport_latitude,source_airport_longitude,source_airport_city,source_airport_country,source_airport_continent,dest_airport_name,dest_airport_iata_code,dest_airport_city,dest_airport_country,dest_airport_latitude,dest_airport_longitude,destination_airport_continent,aircraft_name,flight_capacity
0,Safi Airlines,Mazar I Sharif Airport,MZR,36.706902,67.209702,Mazar-i-sharif,Afghanistan,Asia,Hamid Karzai International Airport,KBL,Kabul,Afghanistan,34.565899,69.212303,Asia,Airbus A319,132
1,Safi Airlines,Hamid Karzai International Airport,KBL,34.565899,69.212303,Kabul,Afghanistan,Asia,Mazar I Sharif Airport,MZR,Mazar-i-sharif,Afghanistan,36.706902,67.209702,Asia,Airbus A319,132
2,Ariana Afghan Airlines,Hamid Karzai International Airport,KBL,34.565899,69.212303,Kabul,Afghanistan,Asia,Kandahar Airport,KDH,Kandahar,Afghanistan,31.505800,65.847801,Asia,Boeing 737-400,161
3,Ariana Afghan Airlines,Herat Airport,HEA,34.209999,62.228298,Herat,Afghanistan,Asia,Hamid Karzai International Airport,KBL,Kabul,Afghanistan,34.565899,69.212303,Asia,Boeing 737-400,161
4,Ariana Afghan Airlines,Hamid Karzai International Airport,KBL,34.565899,69.212303,Kabul,Afghanistan,Asia,Herat Airport,HEA,Herat,Afghanistan,34.209999,62.228298,Asia,Boeing 737-400,161

In [20]:
count_df = df[df['source_airport_country'] != df['dest_airport_country']].groupby(['source_airport_country','dest_airport_country']).size().reset_index(name='counts')

In [21]:
count_df.head()

  source_airport_country dest_airport_country  counts
0            Afghanistan           Azerbaijan       1
1            Afghanistan                India       6
2            Afghanistan                 Iran       5
3            Afghanistan               Kuwait       1
4            Afghanistan             Pakistan       4

In [24]:
pass_df = df[df['source_airport_country'] != df['dest_airport_country']][['source_airport_country', 'dest_airport_country', 'flight_capacity']]\
        .groupby(['source_airport_country','dest_airport_country']).agg('sum').reset_index()
pass_df.head()

  source_airport_country dest_airport_country  flight_capacity
0            Afghanistan           Azerbaijan              161
1            Afghanistan                India              986
2            Afghanistan                 Iran              545
3            Afghanistan               Kuwait              161
4            Afghanistan             Pakistan              410

In [27]:
merged = pd.merge(count_df, pass_df, how='inner', on=['source_airport_country','dest_airport_country'])
merged.head()

  source_airport_country dest_airport_country  counts  flight_capacity
0            Afghanistan           Azerbaijan       1              161
1            Afghanistan                India       6              986
2            Afghanistan                 Iran       5              545
3            Afghanistan               Kuwait       1              161
4            Afghanistan             Pakistan       4              410

In [28]:
merged.to_csv("merged-airlines.csv", index=False)