In [1]:
import pandas as pd
from pycountry_convert import country_name_to_country_alpha3, map_country_alpha3_to_country_name

In [2]:
covid = pd.read_csv("owid-covid-data.csv")

In [3]:
covid = covid[covid['date'] == '2020-11-17']
covid

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
244,ABW,North America,Aruba,2020-11-17,4668.0,6.0,8.857,44.0,0.0,0.429,...,35973.781,NaN,NaN,11.62,NaN,NaN,NaN,NaN,76.29,NaN
568,AFG,Asia,Afghanistan,2020-11-17,43468.0,65.0,143.571,1632.0,6.0,7.857,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.500,64.83,0.498
810,AGO,Africa,Angola,2020-11-17,13451.0,77.0,145.429,322.0,0.0,2.143,...,5819.495,NaN,276.045,3.94,NaN,NaN,26.664,NaN,61.15,0.581
1047,AIA,North America,Anguilla,2020-11-17,3.0,0.0,0.000,NaN,0.0,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN
1302,ALB,Europe,Albania,2020-11-17,28432.0,602.0,528.714,631.0,8.0,8.571,...,11803.431,1.1,304.195,10.08,7.100,51.200,NaN,2.890,78.57,0.785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56468,ZAF,Africa,South Africa,2020-11-17,752269.0,1245.0,1963.429,20314.0,73.0,67.000,...,12294.876,18.9,200.380,5.52,8.100,33.200,43.993,2.320,64.13,0.699
56713,ZMB,Africa,Zambia,2020-11-17,17187.0,64.0,30.857,353.0,0.0,0.571,...,3689.251,57.5,234.499,3.94,3.100,24.700,13.938,2.000,63.89,0.588
56956,ZWE,Africa,Zimbabwe,2020-11-17,8897.0,111.0,48.000,257.0,0.0,0.429,...,1899.775,21.4,307.846,1.82,1.600,30.700,36.791,1.700,61.49,0.535
57280,OWID_WRL,NaN,World,2020-11-17,55183447.0,554913.0,589632.429,1329226.0,8660.0,9124.000,...,15469.207,10.0,233.070,8.51,6.434,34.635,60.130,2.705,72.58,NaN
57604,NaN,NaN,International,2020-11-17,696.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
flights = pd.read_csv("merged-airlines.csv")
flights['iso_code'] = flights['source_airport_country'].apply(lambda x: country_name_to_country_alpha3(x))
flights['dest_airport_country_code'] = flights['dest_airport_country'].apply(lambda x: country_name_to_country_alpha3(x))

In [5]:
flights.head()

,source_airport_country,dest_airport_country,counts,flight_capacity,iso_code,dest_airport_country_code
0,Afghanistan,Azerbaijan,1,161,AFG,AZE
1,Afghanistan,India,6,986,AFG,IND
2,Afghanistan,Iran,5,545,AFG,IRN
3,Afghanistan,Kuwait,1,161,AFG,KWT
4,Afghanistan,Pakistan,4,410,AFG,PAK

In [6]:
merged = pd.merge(covid, flights, how='inner', on='iso_code')
merged.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,source_airport_country,dest_airport_country,counts,flight_capacity,dest_airport_country_code
0,ABW,North America,Aruba,2020-11-17,4668.0,6.0,8.857,44.0,0.0,0.429,...,NaN,NaN,NaN,76.29,NaN,Aruba,Canada,1,132,CAN
1,ABW,North America,Aruba,2020-11-17,4668.0,6.0,8.857,44.0,0.0,0.429,...,NaN,NaN,NaN,76.29,NaN,Aruba,Colombia,1,158,COL
2,ABW,North America,Aruba,2020-11-17,4668.0,6.0,8.857,44.0,0.0,0.429,...,NaN,NaN,NaN,76.29,NaN,Aruba,Dominican Republic,2,174,DOM
3,ABW,North America,Aruba,2020-11-17,4668.0,6.0,8.857,44.0,0.0,0.429,...,NaN,NaN,NaN,76.29,NaN,Aruba,Netherlands,1,229,NLD
4,ABW,North America,Aruba,2020-11-17,4668.0,6.0,8.857,44.0,0.0,0.429,...,NaN,NaN,NaN,76.29,NaN,Aruba,Netherlands,2,486,NLD

In [7]:
# merged.groupby('dest_airport_country_code').
low_df = pd.DataFrame(columns=['country', 'risk_factor', 'sources'])
merged['multiplied'] = merged['positive_rate'] * merged['flight_capacity']
merged['multiplied'] = merged['multiplied'].fillna(0)
data = []
for country in merged['dest_airport_country_code'].unique():
    merged_country = merged[merged['dest_airport_country_code'] == country]\
        .sort_values('multiplied')
    if country == 'USA':
        print(merged_country.shape)
    total_sources = merged_country.shape[0]/5
    merged_country1 = merged_country[:int(total_sources + 1)]
    countries = ';'.join(merged_country1.iso_code.tolist())

    if country == 'USA':
        print(merged_country1.shape)
        print(countries)
    total_capacity = sum(merged_country1['flight_capacity'])
    datum = {
        'iso_code': country,
        'country': map_country_alpha3_to_country_name()[country],
        'low_risk_factor': sum(merged_country1['multiplied'])/total_capacity,
        'sources': countries
    }
    data.append(datum)
low_df = pd.DataFrame(data, columns=['iso_code','country', 'low_risk_factor', 'sources'])

(82, 56)
(17, 56)
ABW;SEN;HND;HTI;ISR;VEN;JAM;JOR;JPN;KNA;SLV;KWT;LCA;MAR;MEX;MHL;NIC

In [8]:
low_df.sort_values('low_risk_factor', ascending=False)

,iso_code,country,low_risk_factor,sources
215,SWZ,Eswatini,0.091,ZAF
214,LSO,Lesotho,0.091,ZAF
157,SPM,Saint Pierre and Miquelon,0.080,CAN
140,BTN,Bhutan,0.041,IND
197,TON,Tonga,0.002,FJI
...,...,...,...,...
75,SAU,Saudi Arabia,0.000,JOR;LBY;LBN;KWT;KEN;YEM;NLD;OMN;PHL
76,SEN,Senegal,0.000,GIN;MRT;MLI;MAR;GNB
77,SYC,Seychelles,0.000,DEU;MUS
78,SGP,Singapore,0.000,LAO;NLD;MYS;MMR;MDV;PHL;VNM;SAU
108,KNA,Saint Kitts and Nevis,0.000,ATG

In [9]:
# merged.groupby('dest_airport_country_code').
data = []
for country in merged['dest_airport_country_code'].unique():
    merged_country = merged[merged['dest_airport_country_code'] == country]\
        .sort_values('multiplied', ascending=False)
    countries = ";".join(merged_country.iso_code.tolist())
    total_capacity = sum(merged_country['flight_capacity'])
    datum = {
        'iso_code': country,
        'country': map_country_alpha3_to_country_name()[country],
        'high_risk_factor': sum(merged_country['multiplied'])/total_capacity,
        'sources': countries
    }
    data.append(datum)
high_df = pd.DataFrame(data, columns=['iso_code','country', 'high_risk_factor', 'sources'])

In [10]:
high_df.sort_values('high_risk_factor', ascending=False)

,iso_code,country,high_risk_factor,sources
181,MDA,"Moldova, Republic of",0.153143,ITA;ROU;RUS;UKR;LVA;GRC;CYP;IRL;DEU;FRA;PRT
183,ALB,Albania,0.144849,ITA;GRC;TUR;DEU;GBR
158,BIH,Bosnia and Herzegovina,0.093439,SRB;ITA;HRV;TUR;CHE;DEU;DNK;SVN;SWE
215,SWZ,Eswatini,0.091000,ZAF
214,LSO,Lesotho,0.091000,ZAF
...,...,...,...,...
185,GGY,Guernsey,0.000000,DEU;FRA;GBR;JEY
186,ISL,Iceland,0.000000,DEU;DNK;ESP;FRA;GBR;NOR
188,VCT,Saint Vincent and the Grenadines,0.000000,DMA;GRD;LCA
189,FRO,Faroe Islands,0.000000,DNK;NOR
108,KNA,Saint Kitts and Nevis,0.000000,ATG;NLD;PRI;USA

In [11]:
final_df = pd.merge(high_df, low_df, how='inner', on=['iso_code', 'country'])
final_df = final_df.drop('sources_x', axis=1)
final_df.head()

,iso_code,country,high_risk_factor,low_risk_factor,sources_y
0,CAN,Canada,0.009186,0.0,ABW;GRD;HTI;ISR;JAM;JOR;JPN;LCA;MAR;MEX;NLD
1,COL,Colombia,0.005069,0.0,ABW;SLV;PRI;PER;PAN
2,DOM,Dominican Republic,0.014083,0.0,ABW;TCA;PRI;PER;PAN;NLD
3,NLD,Netherlands,0.025538,0.0,ABW;NOR;NLD;NLD;MYS;MLT;MKD;MEX;MAR;KWT;KNA;KE...
4,SUR,Suriname,0.000000,0.0,ABW;BRA

In [12]:
final_df.to_csv('risk_factor.csv', index=False)